		* {
				box-sizing: border-box;
			}
img {
	width:150px;
	margin:15px;
}
	
img#logo {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display:block;
  border-radius: 50px;
}
#editor main, #editor aside {
	width:50%;
	float:left;
}

#editor textarea {
	width:100%;
	min-height: 500px;
}

			html, body {
				margin: 0;
				padding: 0;
				font-family: sans-serif;
				font-size: 1em;
				color: #FFF;
			}
			.holy-grail header,
			.holy-grail footer,
			.hg-sidebar,
			.holy-grail-content {
				padding: 20px;
			}

			.hg-sidebar, .holy-grail header, .holy-grail footer {
				background: #0391b9;
			}
			.holy-grail-content {
				color: #777;
			}

			.holy-grail-sidebar-2 {
				font-size: .8em;
			}
			/**
			 * Flex things:
			 * — Mobile first
			 * — Responsive
			 */
			.holy-grail {
				min-height: 100vh;
			}
			.holy-grail,
			.holy-grail-body {
				display: flex;
				flex: 1 1 auto;
				flex-direction: column;
			}
			.holy-grail-content {
				flex: 1 1 auto;
			}
			@media (min-width: 768px) {
				.holy-grail-sidebar-1 {
					order: -1;
				}
				.holy-grail-body {
					flex-direction: row;
				}
				.hg-sidebar {
					flex: 0 0 260px;
				}
			}

